@keyframes m1 {
    0%{background-color: aquamarine;}
    100%{background-color: white;height: 180px;}
    
}
body{
    background-color: rgb(149, 128, 241);
}
.ip_box{
    position: absolute;
    border: 2px;
    top: 100px;
    left: 30px;
    background: rgb(195, 230, 218);
    height: 400px;
    width: 400px;
    border-radius: 20px;
}
input[name="title" ]{
    position: relative;
    width: 200px;
    height: 20px;
    top: 20px;
    left: 20px;
    background: whitesmoke;
    border-radius: 12px;
    border-color: pink;
    border-style: dashed;
    padding-left: 120px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}
textarea[name="desc"]{
    position: absolute;
    top: 80px;
    left: 20px;
    width: 355px;
    height: 260px;
    border-radius: 12px;
    border-style:initial
}
#desc:focus{
    background-color: rgb(181, 245, 224);
    outline: none;
}
#submit{
    position: absolute;
    top: 360px;
    left: 155px;
    width: 80px;
    height: 25px;
    border-radius: 12px;
    border-style: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#submit:hover{
    background-color: bisque;
}
.task_list{
    overflow-y: scroll;
    position: absolute;
    left: 700px;
    top: 80px;
    width: 600px;
    height: 500px;
    
    background-color:rgb(176, 241, 176);
    border-radius: 12px;
    flex-wrap: wrap-reverse;
    
    

}
.disp{
    position: relative  ;
    margin-top: 10px;
    width: 500px;
    left: 12px;
    height: 80px;
    border: 10px;
    background-color: aqua;
    border-radius: 12px;
    
}
.disp:hover{

    animation-name: m1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}
h1{
    font-size: medium;
    padding-left: 50%;
    left: 4px;
    margin-right: 0px;
    font-family: cursive;
}
p{
    position: inherit;
    left: 4px;
    font-size: small;
    margin: none;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p2{
    position: inherit;
    left: 80%;
    font-size: smaller;
    bottom: 10%;
}
.btn_del{
    position: inherit;
    top: -40px;
    border-radius: 30%;
    outline: none;
    border: 1px rgb(189, 115, 115);
    border-style: solid;
    left: 370px;
    background-color: rgb(252, 245, 245);
    margin-top: 3px;
}
.btn_del:hover{
    background-color: rgb(201, 98, 98);
}